.imagen_cabecera {
  background-image: url('../images/blockchain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen_leyenda_footer {
  background-image: url('../images/BannerCripto1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
