.imagen_cabecera {
  background-image: url('../images/blockchain.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.imagen_leyenda_footer {
  background-image: url('../images/BannerCripto1.jpg');
  margin-top: 1px;
  margin-bottom: 1px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color:blanchedalmond;
  padding-top: 20px;
}

/*Dashboard*/

.dashboard {
  background: rgb(22,34,50);
  background: linear-gradient(120deg, rgba(22,34,50,1) 0%, rgba(41,67,102,1) 35%, rgba(59,97,144,1) 100%);
}


.iconito {
    width: 20px;
    height: 20px;
}

