<!-- Formulario Registro-->
<section class="fondo_login_registro">
  <div class="d-flex justify-content-end" style="padding: 10px;">
    <div class="fondo_card_registro">
      <div class="card-body bg-dark">
        <h3 class="card-text text-light estilo_titulo">{{ accion }} Usuario</h3>
        <form [formGroup]="form" (ngSubmit)="guardarPersona()" action="" class="Formulario row g-2 bg-dark" metod="POST"
          id="form_registro" #f="ngForm">
          <!---->
          <!--Primera Linea-->
          <div class="col-sm-3">
            <label class="input-group" for="email" class="form-label text-light">Email: </label>
            <input formControlName="mail" maxlength="100" id="email" class="form-control"
              [class.border-danger]="MailValid" type="email" class="form-control" id="email" placeholder="Email"
              required>
            <!--Respuesta en campo-->
            <div *ngIf="Mail?.errors && Mail?.touched">
              <p *ngIf="Mail?.hasError('required')" class="text-danger">
                Ingrese su email.
              </p>
              <p *ngIf="Mail?.hasError('pattern')" class="text-danger">
                Formato admitido: "mail@mail.com".
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="IPassword" class="form-label text-light">Password:</label>
            <input formControlName="password" type="password" maxlength="200" id="iPassword" class="form-control"
              placeholder="Password" required>
            <!--Respuesta en campo-->
            <div *ngIf="Password?.errors && Password?.touched">
              <p *ngIf="Password?.hasError('required')" class="text-danger">
                Password no fué ingresado.
              </p>
              <p *ngIf="Password?.hasError('pattern')" class="text-danger">
                Debe contener al menos 8 caracteres (max20).
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="IngresarCUIL" class="form-label text-light">Nº Cuil:</label>
            <input formControlName="cuil" maxlength="11" class="form-control" type="email"
              [class.border-danger]="CuilValid" class="form-control" id="ncuil" required>
            <!--Respuesta en campo-->
            <div *ngIf="Cuil?.errors && Cuil?.touched">
              <p *ngIf="Cuil?.hasError('required')" class="text-danger">
                Ingrese su CUIL.
              </p>
              <p *ngIf="Cuil?.hasError('pattern')" class="text-danger">
                Solo 11 números, sin guiones ni puntos.
              </p>
            </div>
          </div>
          <!--Segunda Linea-->
          <div class="col-sm-4">
            <label for="ingresarNombre" class="form-label text-light">Apellido y Nombre: </label>
            <input formControlName="nombre" maxlength="50" class="form-control" type="text" [class.border-danger]="NombreValid"
              class="form-control" id="nombreº" required>
            <!--Respuesta en pantalla-->
            <div *ngIf="Nombre?.errors && Nombre?.touched">
              <p *ngIf="Nombre?.hasError('required')" class="text-danger">
                Ingrese su Apellido y Nombre.
              </p>
              <p *ngIf="Nombre?.hasError('pattern')" class="text-danger">
                Debe contener al menos 10 caracteres (sin números).
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="IngresarFecNac" class="form-label text-light">Fecha Nacimiento:</label>
            <input formControlName="fecnac" maxlength="10" class="form-control" type="text" [class.border-danger]="FecnacValid"
              id="fechanacim" style="display:list-item;" required>
            <!--<input formControlName="fecnac" matInput [matDatepicker]="picker" class="form-control" type="text"
            id="fecnac" style="display:list-item;">
              <mat-datepicker #picker></mat-datepicker>
              <mat-datepicker-toggle matSuffix [for]="picker" style="color: skyblue;"></mat-datepicker-toggle>-->
            <!--Respuesta en pantalla-->
            <div *ngIf="FecNac?.errors && FecNac?.touched ">
              <p *ngIf="FecNac?.hasError('required')" class="text-danger">
                Fecha de Nacimiento Requerida.
              </p>
              <p *ngIf="Nombre?.hasError('pattern')" class="text-danger">
                Formato debe ser "dd-mm-aaaa".
              </p>
            </div>
          </div>
          <div class="col-sm-4">
            <label for="Ingresartelefono" class="form-label text-light">Teléfono:</label>
            <input formControlName="telefono" maxlength="30" class="form-control" type="text" [class.border-danger]="TelefonoValid"
              class="form-control" id="telefono" required>
            <!--Respuesta en pantalla-->
            <div *ngIf="Telefono?.errors && Telefono?.touched">
              <p *ngIf="Telefono?.hasError('required')" class="text-danger">
                Ingrese Teléfono.
              </p>
              <p *ngIf="Telefono?.hasError('pattern')" class="text-danger">
                Debe contener 11 dìgitos sin el 0 ni el 15.
              </p>
            </div>
          </div>
          <!--TerceraLinea-->
          <div class="col-sm-4">
            <label for="Ingresardomicilio" class="form-label text-light">Domicilio:</label>
            <input formControlName="domicilio" maxlength="40" class="form-control" type="text" [class.border-danger]="DomicilioValid"
              class="form-control" id="domicilio" required>
            <!--Respuesta en campo-->
            <div *ngIf="Domicilio?.errors && Domicilio?.touched">
              <p *ngIf="Domicilio?.hasError('required')" class="text-danger">
                Ingrese Domicilio.
              </p>
              <p *ngIf="Domicilio?.hasError('pattern')" class="text-danger">
                Debe contener al menos 10 caracteres.
              </p>
            </div>
          </div>
          <!--Desplegable de Provincias-->
          <div class="col-sm-4">
            <label for="IngresarProvincia" class="form-label text-light">Provincia:
            </label>
            <select formControlName="provincia" id="provincia" class="form-select" required>
              <option selected disabled value="0">Seleccione..</option>
              <option value="1">Buenos Aires</option>
              <option value="2">Capital Federal</option>
              <option value="3">Catamarca</option>
              <option value="4" >Chaco</option>
              <option value="5">Chubut</option>
              <option value="6">Córdoba</option>
              <option value="7">Corrientes</option>
              <option value="8">Entre Ríos</option>
              <option value="9">Formosa</option>
              <option value="10">Jujuy</option>
              <option value="11">La Pampa</option>
              <option value="12">La Rioja</option>
              <option value="13">Mendoza</option>
              <option value="14">Misiones</option>
              <option value="15">Neuquén</option>
              <option value="16">Rio Negro</option>
              <option value="17">Salta</option>
              <option value="18">San Juan</option>
              <option value="19">San Luís</option>
              <option value="20">Santa Cruz</option>
              <option value="21">Santa Fe</option>
              <option value="22">Santiago del Estero</option>
              <option value="23">Tierra del Fuego</option>
              <option value="24">Tucumán</option>
            </select>
            <!--Respuesta en campo-->
            <div *ngIf="Provincia?.errors && Provincia?.touched">
              <p *ngIf="Provincia?.hasError('required')" class="text-danger">
                Seleccione Provincia.
              </p>
              <p *ngIf="Provincia?.value == ('Seleccione..')" class="text-danger">
                Debe Seleccionar una Provincia.
              </p>
            </div>
          </div>
          <div class="col-sm-2">
            <label for="lpaís" class="form-label text-light">País</label>
            <input formControlName="pais" type="text" class="form-control" id="pais" Value="Argentina" readonly>
          </div>
          <!--Cuarta Linea-->
          <div class="col-sm-3">
            <label for="Banco" class="form-label text-light">Banco:</label>
            <input formControlName="banco" maxlength="40" class="form-control" type="text" [class.border-danger]="BancoValid"
              class="form-control" id="banco" required>
            <!--Respuesta en campo-->
            <div *ngIf="Banco?.errors && Banco?.touched">
              <p *ngIf="Banco?.hasError('required')" class="text-danger">
                Ingrese nombre del Banco.
              </p>
              <p *ngIf="Banco?.hasError('pattern')" class="text-danger">
                Debe contener al menos 4 caracteres.
              </p>
            </div>
          </div>
          <div class="col-sm-5">
            <label for="Cbu" class="form-label text-light">Nro. de Cbu:</label>
            <input formControlName="cbu" maxlength="22" class="form-control" type="text" [class.border-danger]="CbuValid"
              class="form-control" id="cbu" required>
            <!--Respuesta en campo-->
            <div *ngIf="Cbu?.errors && Cbu?.touched">
              <p *ngIf="Cbu?.hasError('required')" class="text-danger">
                Ingrese su nro de Cbu.
              </p>
              <p *ngIf="Cbu?.hasError('pattern')" class="text-danger">
                La Cbu debe contener 22 caracteres.
              </p>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-group">
              <input formControlName="acepto" class="form-check-input" type="checkbox" id="acepto"
                [ngClass]="{ 'is-invalid': Acepto?.errors }" required>
              <a href="#" class="form-check-label text-light" for="acepto">Acepto los términos y Condiciones
              </a>
              <div *ngIf="Acepto?.errors" class="text-danger">
                Debe aceptar términos y condiciones.
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <br>
            <button [disabled]="this.form.invalid" type="submit" id="ingresar" class="btn btn-primary"><i
                class="fas fa-database"></i>&nbsp;Registrar</button>
          </div>
          <!--<div *ngIf="this.datosUsuario != null" class="col-sm-2">
            <br>
            <button [disabled]="this.form.valid" type="submit" id="Modificar" (click)="editarPersona()"
            class="btn btn-primary"><i class="fas fa-database"></i>&nbsp;Modificar</button>
          </div>
          <!--  <button [disabled]="this.form.invalid" type="submit" id="ingresar"
            class="btn btn-primary"><i class="fas fa-database"></i>&nbsp;Eliminar</button>
          </div>-->
        </form>
      </div>
    </div>
  </div>

</section>
