<main class="dashboard">
     
    
  <div class="container">
      <div class="abs-center">
        <form [formGroup]="form1" (ngSubmit)="altaDeposito()" class="border p-3 form bg-light">
          
              <h2 class="text-center">Ingreso de Fondos a la Cuenta Propia</h2>
                  <ul class="list-group d-flex align-items-center">
                  <li><i class="fas fa-university me-2"></i>BANCO</li>
                  <li >Transferencia Bancaria</li>
                  <li>Deposita pesos argentinos desde una cuenta propia.</li>
                  <li>CVU 0000025300000030751495</li>
                  
                  </ul>
                  <ul class="list-group d-flex align-items-center">
                    <li> Ingrese el Importe en Pesos a depositar </li>
                    <li><input  type="text"  id="impoDestino" formControlName="impoDestino"   aria-label="Text input with dropdown button" placeholder="$" ></li>
                  </ul>  
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary m-1 mt-2" id="btn1">Cambiar</button>
                    <button type="submit" class="btn btn-outline-secondary m-1 mt-2" routerLink="/dashboard">Cancelar</button>
                  </div>
          
        </form>
      </div>
    </div>


  </main>
