<main class="dashboard">
     
    
  <div class="container">
      <div class="abs-center">
        <form action="#" class="border p-3 form bg-light">
          
              <h2 class="text-center">Ingreso de Fondos a la Cuenta Propia</h2>
                  <ul class="list-group d-flex align-items-center">
                  <li><i class="fas fa-university me-2"></i>BANCO</li>
                  <li >Transferencia Bancaria</li>
                  <li>Deposita pesos argentinos desde una cuenta propia.</li>
                  <li>CVU 0000025300000030751495</li>
                  </ul>
          
          
        </form>
      </div>
    </div>


  </main>
