<footer class="bg-dark text-white py-4">
  <div class="container">
    <nav class="row">
      <ul class="col-md-4 list-unstyled">
        <li class="font-weight-bold">INSTITUCIONAL</li>
        <li><a href="#" class="text-reset" style="text-decoration: none;">Nosotros</a></li>
        <li><a href="#" class="text-reset" style="text-decoration: none;">Terminos y Condiciones</a></li>
        <li><a href="#" class="text-reset" style="text-decoration: none;">Politicas de Privacidad</a></li>
      </ul>

      <ul class="col-md-4 list-unstyled">
        <li class="font-weight-bold">SOPORTE</li>
        <li><a href="#" class="text-reset" style="text-decoration: none;">Danos tu opinión</a></li>
        <li><a href="#" class="text-reset" style="text-decoration: none;">Centro de Ayuda</a></li>
        <li><a href="#" class="text-reset" style="text-decoration: none;">Reglas de Trading</a></li>
        <li><a href="#" class="text-reset" style="text-decoration: none;">Comisiones</a></li>
      </ul>

      <ul class="col-md-2 list-unstyled">
        <li class="font-weight-bold">REDES SOCIALES</li>
        <li class="d-flex justify-content-between py-2">
          <!--LinkedIn-->
          <a href="#" class="text-reset">
            <i class="fab fa-linkedin"></i>
          </a>
          <!--Facebook-->
          <a href="#" class="text-reset">
            <i class="fab fa-facebook-square"></i>
          </a>
          <!--Instagram-->
          <a href="#" class="text-reset">
            <i class="fab fa-instagram"></i>
          </a>
          <!--Twiter-->
          <a href="#" class="text-reset">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <!--Pie de Pagina-->
  <div class="container-fluid">
    <p class="text-center">&copy; Copyright 2022</p>
  </div>
</footer>
