<!--Contenido Dashboard-->
<main class="dashboard">
  <div class="container py-3">
    <!--Tarjetas Arriba-->
    <div class="row g-3" data-masonry='{"percentPosition": true }'>
      <!--Mi Billetera-->
      <div class="col-xl-6 col-sm-12">
        <div class="card shadow-sm">
          <div class="card-header p-3">
            <i class="fa-solid fa-wallet"></i> Mi Cuenta
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-xl-6 col-sm-12 pt-3">
                <h4 class="card-title"><i class="fa-solid fa-money-bill-1"></i> Pesos Argentinos</h4>
                <h2>{{saldis.Importe}}</h2>

                <div class="d-flex  justify-content-center">
                  <div class="px-3 py-2">
                    <a routerLink="/fondeo" class="btn btn-outline-secondary btn-sm">Ingresar $AR</a>
                  </div>
                  <div class="px-3 py-2">
                    <a routerLink="/fondeo" class="btn btn-outline-secondary btn-sm">Retirar $AR</a>
                  </div>
                </div>
              </div>

              <div class="col-xl-6 col-sm-12">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">Crypto</th>
                      <th scope="col">Cantidad</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of saldos">
                      <td *ngIf="this.item.Nombre !=='ARS'">{{item.Nombre}}</td>
                      <td *ngIf="this.item.Nombre !== 'ARS'">{{item.Saldo}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>

            </div>
            <div class="d-flex  justify-content-center">
               <div class="px-3 py-2">
                <a routerLink="/convertir" class="btn btn-outline-secondary btn-sm">COMPRAR - VENDER Cryptomonedas</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Fin Mi Billetera-->
      <!--Mis Últimas Operaciones-->
      <div class="col-xl-6 col-sm-12">
        <div class="card shadow-sm">
          <div class="card-header p-3"><i class="fa-solid fa-list"></i>
            Mis Últimas Operaciones
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Fecha</th>
                  <th scope="col">Operación</th>
                  <!-- <th scope="col">Moneda</th> -->
                  <th scope="col">Monto</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of movimientos.slice(-4).reverse()">
                  <td>{{item.Fecha | date:'dd/MM/yy HH:mm':'-06:00'}}</td>
                  <td>{{mensajeMovimientos(item.MonedaOrigen, item.MonedaDest)}}</td>
                  <!-- <td>{{item.MonedaDest}}</td> -->
                  <td>{{item.ImpoDestino}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>
      <!--Fin Mis Últimas Operaciones-->

    
  
  <!--Fin Tarjetas Arriba-->
  <!--Tarjetas Abajo-->

      <!--Cotizaciones-->
      <div class="col-xl-6 col-sm-12">
        <div class="card shadow-sm">
          <div class="card-header p-3">
             <h5><i class="fa-solid fa-chart-line"></i>Cotizaciones</h5>
            <p><small>Cotización en base al Dolar con impuesto PAIS + Imp. GANANCIAS.<br>
              <strong>PRECIO:</strong> {{dolaroficial| currency}}</small></p>
          </div>
          <div class="card-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Crypto</th>
                  <th scope="col">Cotización</th>
                  <th scope="col">Balance (24 hs.)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><img src="assets/images/btc.png" class="iconito" alt=""> Bitcoin</td>
                  <td>{{datachartbtc[datachartbtc.length-1] | currency:'ARS':'symbol-narrow'}}</td>
                  <td>
                    {{(datachartbtc[datachartbtc.length-1]-datachartbtc[datachartbtc.length-2])/datachartbtc[datachartbtc.length-1]| percent:'.2'}}
                  </td>
                </tr>
                <tr>
                  <td><img src="assets/images/eth.png" class="iconito" alt=""> Ethereum</td>
                  <td>{{datacharteth[datacharteth.length-1]| currency:'ARS':'symbol-narrow'}}</td>
                  <td>
                    {{(datacharteth[datacharteth.length-1]-datacharteth[datacharteth.length-2])/datacharteth[datacharteth.length-1]| percent:'.2'}}
                  </td>
                </tr>
                <!-- <tr>
                <th scope="row">3</th>
                <td><img src="assets/images/bnb.png" class="iconito" alt=""> Binance Coin</td>
                <td>49128.64</td>
                <td>+2.63</td>
                <td><button type="button" class="btn btn-light btn-sm">Comprar</button></td>
                </tr> -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Fin Cotizaciones-->
      <!--Chart Cryptos-->

      <div class="col-xl-3 col-sm-6">
        <div class="card shadow-sm">
          <div class="card-header p-3">
            <img src="assets/images/btc.png" alt=""> Balance Bitcoin (7 Días)
          </div>
          <div class="card-body">
            <canvas id="canvas-btc">"{{chartbtc}}"</canvas>
            <div class="d-flex  justify-content-center">
              <div class="pt-3">
                <a routerLink="/convertir" class="btn btn-outline-secondary btn-sm">COMPRAR</a>
              </div>
            </div>
            <!-- <select class="form-select mt-2">
            <option>5 Días</option>
            <option>Mes</option>
            <option>Año</option>
            </select> -->
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6">
        <div class="card shadow-sm">
          <div class="card-header p-3">
            <img src="assets/images/eth.png" alt=""> Balance Ethereum (7 Días)
          </div>
          <div class="card-body">
            <canvas id="canvas-eth">{{charteth}}</canvas>
            <div class="d-flex  justify-content-center">
              <div class="pt-3">
                <a routerLink="/convertir" class="btn btn-outline-secondary btn-sm">COMPRAR</a>
              </div>
            </div>
            <!-- <select class="form-select mt-2">
            <option>5 Días</option>
            <option>Mes</option>
            <option>Año</option>
            </select> -->
          </div>
        </div>
      </div>
      <!--Fin Chart Crypto-->
 
  <!--Contenido Fin Tarjetas Abajo-->
</div>
</div>
</main>

<!--Fin Contenido Dashboard-->