<main class="dashboard">


  <div class="container">
    <div class="abs-center">

      <form [formGroup]="form1" (ngSubmit)="altaExtraccion()" class="border p-3 form bg-light">

        <h2 class="text-center">Extraccion de Fondos</h2>
        <ul class="list-group d-flex align-items-center">

          <li>Saldo de Cuenta en Pesos Argentinos</li>
          <li><input type="text" id="saldoDisponible" formControlName="saldoDisponible"
              value="{{saldis.Importe |currency }}" readonly class="form-control"
              aria-label="Text input with dropdown button"></li>

        </ul>
        <ul class="list-group d-flex align-items-center">
          <li> Ingrese el Importe en Pesos a Extraer </li>
          <li><input type="text" id="impoOrigen" formControlName="impoOrigen" class="form-control"
              aria-label="Text input with dropdown button" placeholder="$"></li>
        </ul>
        <div class="form-group">
          <button type="submit" class="btn btn-primary m-1 mt-2" id="btn1">Cambiar</button>
          <button type="submit" class="btn btn-outline-secondary m-1 mt-2" routerLink="/dashboard">Cancelar</button>
        </div>

      </form>





    </div>


  </div>
  


</main>